# Ignore several upload and file directories.
/**/_processed_/
/**/_temp_/
/**/uploads/
# Ignore cache
*/typo3conf/ENABLE_INSTALL_TOOL
/FIRST_INSTALL
# Ignore temp directory.
*/typo3temp/

#PhpStorm
.idea/

# DotEnv
.env

# composer
/vendor/
/html/typo3/
/var/
/bin/
